<%= javascript_include_tag :multi_step_wizard %>
<style>
    .modal {
        overflow-y:auto;
    }
</style>
<% sr_type = @studyhub_resource.studyhub_resource_type %>
<% @error_keys = @studyhub_resource.errors.messages.keys.map {|x| x.to_s}%>
<% error_messages = @studyhub_resource.errors.messages[:base].join('<br/>').html_safe %>
<%#= @studyhub_resource.errors.messages.inspect %>

<div class="modal " tabindex="-1" role="dialog" id="studyhub-resource-modal">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">
          <h3>New <%= sr_type.title %></h3>
        </div>
        <div id ="step_two">
          <h4>Step 2: Fill out metadata</h4>
        </div>
      </div>
      <div class="modal-body">
        <div id='datafile-multi-set' class='multi-step'>
          <div class="asset_form">
            <% unless error_messages.blank? %>
              <%= alert_box('danger', :id => 'error_flash', :class => 'fade in') do %>
                <%= error_messages %>
              <% end %>
            <% end %>
            <div id="studyhub_resource_attributes_container">
            <% step = 0 %>
            <%= content_tag(:div, id: "step-#{step += 1}", class: 'multi-step-block') do %>
              <span class='multi-step-progress-indicator'></span>
              <%= render partial: 'studyhub_basic', locals: { :f => f, :collapsed => collapsed } %>
            <% end %>

            <%= content_tag(:div, id: "step-#{step += 1}", class: 'multi-step-block') do %>
              <span class='multi-step-progress-indicator'></span>
              <%= render :partial => 'resource_roles', :locals=> { :f => f,:collapsed => collapsed} %>
            <% end %>

              <%= content_tag(:div, id: "step-#{step += 1}", class: 'multi-step-block') do %>
                <span class='multi-step-progress-indicator'></span>
              <%= render :partial => 'resource_ids', :locals=> { :f => f,:collapsed => collapsed} %>
              <% end %>

            <% if @studyhub_resource.is_studytype? %>
            <%= content_tag(:div, id: "step-#{step += 1}", class: 'multi-step-block') do %>
              <span class='multi-step-progress-indicator'></span>
                <%= render partial: 'studyhub_study_design_input', locals: { :f => f, :collapsed => collapsed } %>
          <% end %>
            <% end -%>

          </div>
            <%= shr_leave_alert_modal -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $j(document).ready(function(){
        $j('#studyhub-resource-modal').modal({backdrop: 'static', keyboard: false});
    });



    <% unless @studyhub_resource.is_studytype? %>
    $j(document).ready(function () {
        $j('#studyhub_resource_study_design').hide();
    });
    <% end -%>

    <% if @studyhub_resource.is_studytype? %>
    $j(document).ready(function () {
        $j('#step_two').hide();
    });
    <% end -%>

    $j(document).ready(function () {
        $j('form input').keydown(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });

        $j('.addtional-info').find('a[href="#"]').on('click', function (e) {
            e.preventDefault();
            this.expand = !this.expand;
            $j(this).text(this.expand? " read less":" read more");
            $j(this).closest('.addtional-info').find('.less, .more').toggleClass('less more');
        });

        $j('.shr_cancel_button, .multi-step-start-button, .multi-step-end-button, .multi-step-back-button, .multi-step-next-button').on('click', function (e) {
            $j('#studyhub-resource-modal').scrollTop(0);
        });
    });

</script>