<% help_text = "Please provide some basic details about the #{t('studyhub_resources.studyhub_resource').downcase} that will be created." %>
  <%= folding_panel("Basic Information:", collapsed, :body_options => {:id => 'basic_info'},
                    :help_text => help_text) do %>

  <div id="resource_basic_information">
    <%= render :partial => 'resource_titles', :locals=> { :f => f} %>
    <%= render :partial => 'resource_acronyms', :locals=> { :f => f} %>
    <%= render :partial => 'resource_descriptions', :locals=> { :f => f} %>
    <%= render :partial => 'studyhub_resource_input', locals: { :f => f } %>
  </div>

  <%= shr_cancel_button -%>

  <div class='multi-step-buttons'>
    <%= shr_multi_step_forward_button %>
    <%= shr_multi_step_end_button %>
  </div>
<% end %>

<%= shr_wizard_footer_tips %>

